{% extends "default.html" %}
{% block title %}Home | {{ super() }}{% endblock%}
{% block body %}
<h1>Hello World!</h1>
<div class="row">
    <div class="col text-center">
        <div>
            <label for="formFileLg" class="form-label">Load Dataset</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file">
        </div>
    </div>
    <div class="col text-center">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Configure Dataset</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <div class="col text-center">Select HPO Algorithms
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                GRASP-HPO
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck2">
                GRASP-HPO
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck2">
                GRASP-HPO
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
                GRASP-HPO
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">
                GRASP-HPO
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
            <label class="form-check-label" for="defaultCheck5">
                GRASP-HPO
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
            <label class="form-check-label" for="defaultCheck6">
                GRASP-HPO
            </label>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Generate Results</button>
</div>
{% endblock %}